In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [5]:
airbnb = pd.read_csv("listings.csv")
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4912 entries, 0 to 4911
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           4912 non-null   int64
 1   listing_url                  4912 non-null   object
 2   name                         4912 non-null   object
 3   description                  4842 non-null   object
 4   host_id                      4912 non-null   int64
 5   host_name                    4912 non-null   object
 6   host_since                   4912 non-null   object
 7   host_response_time           4603 non-null   object
 8   host_response_rate           4603 non-null   object
 9   host_acceptance_rate         4704 non-null   object
 10  host_neighbourhood           4523 non-null   object
 11  host_total_listings_count    4912 non-null   int64
 12  neighbourhood_cleansed       4912 non-null   object
 13  latitude                     4912 non-null   float64
 14  longitude                    4912 non-null   float64
 15  property_type                4912 non-null   object
 16  room_type                    4912 non-null   object
 17  accommodates                 4912 non-null   int64
 18  bathrooms                    4741 non-null   float64
 19  bathrooms_text               4907 non-null   object
 20  bedrooms                     4879 non-null   float64
 21  beds                         4738 non-null   float64
 22  amenities                    4912 non-null   object
 23  price                        4730 non-null   object
 24  availability_30              4912 non-null   int64
 25  availability_365             4912 non-null   int64
 26  number_of_reviews            4912 non-null   int64
 27  first_review                 4160 non-null   object
 28  last_review                  4160 non-null   object
 29  review_scores_rating         4160 non-null   float64
 30  review_scores_accuracy       4152 non-null   float64
 31  review_scores_cleanliness    4152 non-null   float64
 32  review_scores_checkin        4152 non-null   float64
 33  review_scores_communication  4152 non-null   float64
 34  review_scores_location       4151 non-null   float64
 35  review_scores_value          4152 non-null   float64
 36  reviews_per_month            4160 non-null   float64
dtypes: float64(13), int64(7), object(17)
memory usage: 1.4+ MB

In [3]:
airbnb['id'].count()

4912

In [4]:
airbnb.dtypes

id                               int64
listing_url                     object
name                            object
description                     object
host_id                          int64
host_name                       object
host_since                      object
host_response_time              object
host_response_rate              object
host_acceptance_rate            object
host_neighbourhood              object
host_total_listings_count        int64
neighbourhood_cleansed          object
latitude                       float64
longitude                      float64
property_type                   object
room_type                       object
accommodates                     int64
bathrooms                      float64
bathrooms_text                  object
bedrooms                       float64
beds                           float64
amenities                       object
price                           object
availability_30                  int64
availability_365                 int64
number_of_reviews                int64
first_review                    object
last_review                     object
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
reviews_per_month              float64
dtype: object

In [5]:
# remove $ sign and commas from price
airbnb['price'] = airbnb['price'].str.replace('$','').str.replace(',','').astype('float')
airbnb.price

0        85.0
1        65.0
2       243.0
3        62.0
4        54.0
        ...
4907     58.0
4908     38.0
4909     79.0
4910     75.0
4911     91.0
Name: price, Length: 4912, dtype: float64

In [6]:
max(airbnb.price)

10000.0

In [9]:
cols = airbnb.columns.tolist()
cols.remove('host_since')

In [14]:
airbnb['price'] = airbnb['price'].replace(0, np.nan)
airbnb = airbnb.dropna(axis=0, how='any', subset=['price'])

In [15]:
airbnb['price'].count()

4730

airbnb.to_csv('newairbnb.csv', index = False)